@page "/address"

<PageTitle>Address Entry</PageTitle>

<h3>Address Entry</h3>

<EditForm Model="model" OnValidSubmit="ValidSubmission">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText class="form-control" @bind-Value="model.AddressLine1" placeholder="Address Line 1" />

    <InputText class="form-control" @bind-Value="model.AddressLine2" placeholder="Address Line 2" />

    <InputText class="form-control" @bind-Value="model.City" placeholder="City" />

    <InputText class="form-control" @bind-Value="model.State" placeholder="State" />

    <InputText class="form-control" @bind-Value="model.Zipcode" placeholder="Zipcode" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<ul>
    @foreach (var a in addresses)
    {
        <li>@a.AddressLine1 @a.AddressLine2 @a.City @a.State @a.Zipcode</li>
    }
</ul>

@code 
{
    private AddressModel model = new();
    private List<AddressModel> addresses = new();

    private void ValidSubmission()
    {
        addresses.Add(model);
        model = new();
    }
}
