@page "/person"

<PageTitle>Person Entry</PageTitle>

<h3>Name</h3>

<EditForm Model="person" OnValidSubmit=OnValidSubmissionName>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="person.FirstName" placeholder="First Name" class="form-control"></InputText>
    <InputText @bind-Value="person.LastName" placeholder="Last Name" class="form-control"></InputText>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

<h3>Address</h3>

<EditForm Model="address" OnValidSubmit=OnValidSubmissionAddress>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="address.AddressLine1" placeholder="Address Line 1" class="form-control"></InputText>
    <InputText @bind-Value="address.AddressLine2" placeholder="Address Line 2" class="form-control"></InputText>
    <InputText @bind-Value="address.City" placeholder="City" class="form-control"></InputText>
    <InputText @bind-Value="address.State" placeholder="State" class="form-control"></InputText>
    <InputText @bind-Value="address.Zipcode" placeholder="Zipcode" class="form-control"></InputText>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@*
    The below only executes once there have been both submit buttons hit
*@
<ul>
    @for (int i = 0; i < @people.Count; i++)
    {
        <li>@people[i].FirstName @people[i].LastName</li>
        <li>@addresses[i].AddressLine1  @addresses[i].AddressLine2 @addresses[i].City @addresses[i].State @addresses[i].Zipcode</li>
    }
</ul>

@code
{
    private PersonModel person = new();
    private List<PersonModel> people = new();
    private AddressModel address = new();
    private List<AddressModel> addresses = new();

    private void OnValidSubmissionName()
    {
        people.Add(person);
        person = new();
    }

    private void OnValidSubmissionAddress()
    {
        addresses.Add(address);
        address = new();
    }
}