@page
@model HotelApp.Web.Pages.BookRoomModel
@{
    ViewData["Title"] = "Book Room";
}
<h1>Book Room</h1>

<form method="post">
    <div class="form-group">
        <input type="text" asp-for="FirstName" placeholder="Type your first name" />
        <input type="text" asp-for="LastName" placeholder="Type your last name" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<br/>
  <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Start Date</th> 
                <th>End Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr> 
                <td>@Model.RoomType.Title</td>
                <td>@Model.StartDate.ToString("MMM dd, yyyy")</td>
                <td>@Model.EndDate.ToString("MMM dd, yyyy")</td>
                <td>@string.Format("{0:C}", Model.RoomType.Price)</td>
            </tr>
        </tbody>
    </table>

<!--            
<strong>@Model.RoomType.Title</strong>
<br />
@Model.RoomType.Description
-->
