@page
@model HotelApp.Web.Pages.RoomSearchModel
@{
    ViewData["Title"] = "Room Search";
}

<h1>Room Search</h1>

<!-- See Github Bootstrap for how to use form 

1. mb-3 adds vertical spacing between form groups.

2. form-control ensures inputs are styled consistently.

3. p-3 adds padding around the form.

4. mt-2 adds spacing above the button.  -->

<form method="post" class="p-3">
    <div class="form-group mb-3">
        <label asp-for="@Model.StartDate" class="form-label"></label>
        <input type="date" asp-for="@Model.StartDate" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label asp-for="@Model.EndDate" class="form-label"></label>
        <input type="date" asp-for="@Model.EndDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

@if(Model.AvailableRoomTypes?.Count > 0)
{
    <br/>
    <h2>Results</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Room Type</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.AvailableRoomTypes)
            {
                <tr> 
                    <td>
                        <strong>@room.Title</strong><br />
                        @room.Description
                    </td>
                    <td>@string.Format("{0:C}", room.Price)</td>
                    <td><a asp-page="/BookRoom" asp-route-roomtypeid="@room.Id"
                           asp-route-startdate="@Model.StartDate.ToString("yyyy-MM-dd")"
                           asp-route-enddate="@Model.EndDate.ToString("yyyy-MM-dd")">Book Now</a>
                        <!--
                           // Used in instructor's code:
                           asp-route-startdate="@Model.StartDate.ToShortDateString()"
                           asp-route-enddate="@Model.EndDate.ToShortDateString()">Book Now</a>
                        -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
